
@import
url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,400i,600,700,800,900');

@import
url('https://fonts.googleapis.com/css?family=Rubik:400,400i,500,700,900');

@import
url('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');

/**MISCELLANEOUS**/
/**box-stuff**/
* {
  box-sizing: border-box;
}

/**html and body**/
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

/**container spacing**/
.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

/**image column centering**/
.img-center {
  margin: 0;
  display: block;
}

/**text column centering**/
.text-center {
  text-align: center;
}

/**typography for h1 and p**/
h1 {
  font-size: 2.5em;
  font-weight: bold;
}

p {
  font-size: 1.5em;
}

/**media query for h1 and p**/
@media (max-width:767px){
  h1 {
    font-size: 1.8em;
  }
  p {
    font-size: 1.2em;
  }
}

/**NAVIGATION**/
/**navigation bar**/
.custom-navigation{
  font-family: 'Nunito', sans-serif;
  background-color: #FFF;
  position: fixed;
  padding: 8px;
  width: 100%;
  z-index: 9999;
  transition: all ease .5s;
}

.custom-navigation #logo {
  font-size: 1.5rem;
  color: #09234c;
  font-weight: 900;
  text-transform: uppercase;
  padding: 5px 0 0 25px;
  transition: all ease .5s;
}

.custom-navigation #links,#logo {
  display: inline-block;
}

.custom-navigation #links {
  list-style: none;
  padding: 0;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 22px 0 0;
}

.custom-navigation #links > li {
  display: inline-block;
  margin-right: 0.5em;
  text-decoration: none;
  padding: 0 10px;
}

.custom-navigation #links > li > a {
  color: #2b6cd1;
  text-decoration: none;
  font-weight: normal;
}

.custom-navigation #links > li > a:hover {
  text-decoration: underline;
  color: black;
  font-weight: bold;
}

/**disappear hamburger, close**/
#hamburger, #close {
  display: none;
  opacity: 0;
}

/**shrink**/
.custom-navigation.shrink {
  height: 55px;
  transition: all ease .5s;
  background-color: rgba(221, 221, 221,0.7)
}

.custom-navigation.shrink #logo {
  transition: all ease .5s;
  color: #6f9be2;
}

/**mobile media query**/
@media screen and (max-width: 767px) {
  #hamburger, #close {
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 35px;
    z-index: 999999;
    opacity: 1;
  }

  #hamburger{
    display: inline-block;
  }

  .custom-navigation > #links {
    list-style: none;
    background-color: rgba(221,221,221,0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 100%;
    right: 0%;
    width: 100%;
    height: 0px;
    overflow: hidden;
  }

  .custom-navigation > #links.visible {
    height: auto;
  }

  .custom-navigation > #links > li {
    padding: 1.2em;
    margin: 0;
  }

  .custom-navigation > #links > li > a{
    padding: 1.2em;
    color: #1166af;
    text-decoration: none;
  }
}

/**HOME**/
/**home**/
#home {
  background: url('../img/vrbackground2.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 10;
}

.bubblearrow {
  position: relative;
  top: 22.5%;
}

#titleanimate {
  -webkit-animation-duration: 2s;
}

#subtitleanimate {
  -webkit-animation-duration: 2s;
}

#bottomarrow {
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

/**maintitle**/
.maintitle {
  font-size: 4em;
  font-weight: bold;
  color: #FFF;
  padding: 1em;
  margin: 0 2em;
}

/**subtitle**/
.subtitle{
  font-size: 1.9em;
  margin: 0 2em;
  color: #FFF;
  display: block;
  font-style: italic;
}

/**media queries for the titles**/
@media (max-width:767px){
  .maintitle {
    font-size: 3em;
  }
  .subtitle {
    font-size:1.4em;
  }
}

@media (max-width:600px){
  .maintitle {
    font-size: 2em;
  }
  .subtitle {
    font-size:1em;
  }
}

/**ABOUT**/
/**about**/
.about-textbox{
  padding: 4em 20% 4em 20%;
}
.about-textbox h1 {
  padding-bottom: 1em;
}

.about-textbox h1 p{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;

}

#about {
  -webkit-animation-duration: 2s;
}

/**PROCRESS**/
#process {
  background-color: #f2f2f2;
  width: 100%;
  margin: 0;
  padding-bottom: 2em;
}

.processbox {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 0 0 0.5em 0;
}

#process h1 {
  padding: 2.2em 1.5em 1.5em 1.5em;
  width: 100%;
  text-align: center;
}

#process p {
  font-style: italic;
  padding: 1em;
}

#process img {
  display: block;
  margin: 0 auto;
  border-radius: 100%;
  background-color: #FFF;
  border: 5px solid black;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.8);
}

#processtitleanimate {
  -webkit-animation-duration: 1s;
}

#processanimate1 {
  -webkit-animation-delay: 0.5s;
}

#processanimate2 {
  -webkit-animation-delay: 0.7s;
}

#processanimate3 {
  -webkit-animation-delay: 0.9s;
}

/**IMPACT**/
#impact {
  background-color: black;
  width: 100%;
  margin: 0;
  padding-bottom: 2em;
}

.impactbox {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 0 0 0.5em 0;
}

.impact-textbox {
  width: 100%;
  text-align: center;
  padding: 0 2em;
}

.impact-textbox p {
  font-style: normal !important;
}

#impact h1 {
  padding: 2.2em 1.5em 1.5em 1.5em;
  width: 100%;
  text-align: center;
  color: white;
}

#impact p {
  font-style: italic;
  padding: 1em;
  color: white;
}

#impact img {
  display: block;
  margin: 0 auto;
  border-radius: 100%;
  background-color: #FFF;
  box-shadow: 2px 2px 5px 0px rgba(242, 242, 242, 0.5);
}

#impactsubtitleanimate {
  -webkit-animation-duration: 1s;
}

#impactanimate1 {
  -webkit-animation-delay: 0.9s;
}

#impactanimate2 {
  -webkit-animation-delay: 0.7s;
}

#impactanimate3 {
  -webkit-animation-delay: 0.5s;
}

/**DEVELOPMENT**/
.developmentfather {
  background-color: #F2F2F2;
}

#development {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 2em;
}

#development h1 {
  padding: 2.2em 1.5em 1.5em 1.5em;
}

#development p {
  font-style: italic;
  text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#000' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#000' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
}

/**development2**/
#development2 {
  width: 100%;
  margin: 0;
  padding: 2em 0 4em 0;
}

.developmentbox {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 0 0 0.5em 0;
}

#development2 p {
  font-style: italic;
  padding: 1em 0;
}

#development2 img {
  display: block;
  margin: 0 auto;
  border-radius: 100%;
  border: 6px solid white;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.developmentboxtext {
  padding: 1em 20% 0 20%;
}

.developmentboxtext p {
  font-style: normal !important;
  outline: 2px solid #DDD;
  outline-offset: 10px;
}

#development {
  -webkit-animation-duration: 2s;
}

#imganimate1, #imganimate2, #imganimate3{
  -webkit-animation-duration: 1s;
}

/**TEAM**/
#team {
  background-color: #FFF;
  width: 100%;
  margin: 0;
  padding-bottom: 2em;
}

.teambox {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 0 0 0.5em 0;
}

#team h1 {
  padding: 2.2em 1.5em 1.5em 1.5em;
  width: 100%;
  text-align: center;
}

#teamname {
  font-style: normal !important;
  text-decoration: underline;
}

.horizontal {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: 10px solid #a6ff4d;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.8);
}

.horizontal img {
  width: auto;
  height: 100%;
  margin-left: -65px;
}

.vertical {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: 10px solid #80e5ff;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.8);
}

.vertical img {
  width: 100%;
  height: auto;
  margin-top: -50px;
}

#detail {
  display: block;
  width: 550px;
  height: 160px;
  margin: auto ;
  font-size: 0.8em;
  font-style: italic;
}

#infoheader{
  display: block;
  width: 390px;
  height: 130px;
  margin: 0 auto 1em auto;

}

@media (max-width:1250px) {
  #detail {
    width: 340px;
    height: 260px;
  }

  #infoheader{
    width: 250px;
    height: 200px;
  }
}

@media (max-width:767px) {
  #detail {
    width: 280px;
    height: 207px;
  }

  #infoheader{
    width: 207px;
    height: 160px;
  }
}

#teamtitle {
  -webkit-animation-duration: 2s;
}

#junanimate {
  -webkit-animation-duration: 0.7s;
}

#jinanimate {
  -webkit-animation-duration: 0.7s;
}

/**button**/
.btnrow {
  margin: 0;
  padding: 1em 0 0 0;
  width: 100%;
}

.btnrow a {
  text-decoration: none;
}

.btnjun {
  width: 160px;
  height: 50px;
  margin-top: 2em;
  background:#80e5ff;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
}

.btnjun:before {
  font-size: 1.2em;
  font-weight: bold;
  color: #FFF;
  content: 'CV';
  position: relative;
  top: 10px;
  transition: all 0.5s;
}

.btnjun:hover:before {
  top: -25px;
}

.btnjun:after {
  font-family: 'Ionicons';
  content: '\f12e';
  font-size: 2em;
  color: white;
  position: absolute;
  top: 40px;
  left: 45%;
  transition: all 0.5s;
}

.btnjun:hover:after {
  top: 1%
}

.btnjin {
  width: 160px;
  height: 50px;
  margin-top: 2em;
  background:#a6ff4d;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
}

.btnjin:before {
  font-size: 1.2em;
  font-weight: bold;
  color: #FFF;
  content: 'CV';
  position: relative;
  top: 10px;
  transition: all 0.5s;
}

.btnjin:hover:before {
  top: -25px;
}

.btnjin:after {
  font-family: 'Ionicons';
  content: '\f12e';
  font-size: 2em;
  color: white;
  position: absolute;
  top: 40px;
  left: 45%;
  transition: all 0.5s;
}

.btnjin:hover:after {
  top: 1%
}



.container-fluid{
  margin: 0 0 2em 0;
  padding: 0;
}

#rowrowrow {
  width: 100%;
  margin: 0;
  padding: 0;
}

#rowrowrow .col-md-3 {
  margin: 0;
  padding: 0;
}

#rowrowrow .col-sm-6 {
  margin: 0;
  padding: 0;
}

.col-md-6 {
  margin: 0;
  padding: 0;
}


/*plugin*/
#rjun, #htmlcssjun, #sqljun, #pythonjavajun, #rjin, #htmlcssjin, #sqljin, #pythonjavajin{
  width: 90px;
  height: 90px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin: 1em 0 1em 0;
}


/**CONTACT**/
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

#contact h1 {
  padding: 2.2em 1.5em 1.5em 1.5em;
  width: 100%;
  text-align: center;
}

#contact {
  padding: 0 auto;
  background-image: url('../img/contact1.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 120px;
}

#form {
  position: relative;
  width: 470px;
  text-align: center;
  margin: 0 auto 80px auto;
}

input {
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;

  background: transparent;
  outline: none;
  color: #726659;

  border: solid 1px #b3aca7;
  border-bottom: none;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #b3aca7;
  color: #e2dedb;
}

textarea {
  width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;

  background: transparent;
  outline: none;

  color: #726659;
  font-size: 0.875em;

  border: solid 1px #b3aca7;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}

#submit {
  width: 470px;

  padding: 0;
  margin: -5px 0px 0px 0px;

  font-size: 0.875em;
  color: #b3aca7;

  outline:none;
  cursor: pointer;

  border: solid 1px #b3aca7;
  border-top: none;
}

#submit:hover {
  color: #e2dedb;
}

@media (max-width:790px) {
  #form, #submit {
    width: 90%;
  }

  textarea, input {
    width: 90%;
  }
}

/**footer**/
.container {
  width: 100%;
  padding: 0;
  margin: 0;
}

footer {
  font-size: 12px;
  width: 100%;
  background-color: #FFF;
  text-align: center;
}

.row {
  margin: 0;
  padding: 0;
  width: 100%;
}

.col-sm-12 {
  margin: 0;
  padding: 1em;
  width: 100%;
  background-color: #FFF;
}

footer .row p {
  font-size: 1.5em;
}
